                                  /*****************/
                                  /*Universal Styling*/

.Futura-Lig {
	font-family: Futura-Lig;
	font-weight: normal;
	font-style: normal;
}
h1, h2, h3, h4 {
  font-weight: bold;
}

#app {
  background-image: url(/public/img/BG_12_23.jpg);
  background-size: cover;
	background-repeat: no-repeat;
  color: #fff;
  font-family: Futura-Lig;
  margin:0;
  padding: 0;
  min-height:  100vh;
}

li {
  list-style-type:none;
}

img {
  max-width:150px;
}

#app {
  position: relative;
  /* width: auto; */
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
}

.links {
  display: flex;
  flex-direction: column;
}

.half-circle {
    background-color: rgba(255,255,255,0.3);
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    border-bottom: 0;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.xBigFont {
  font-size: 35px;
  font-weight: bolder;
  text-align: center;
}

.appContainer {
  height: 100%;
}
                                  /* BUTTONS GENERAL*/
                                  /************/
button {
  /* align-items: stretch; */
  font-family: Futura-Lig;
}

button.btn.btn-default {
  background-color: transparent;
  border:0;
  /* display: inline-block; */
  font-size: 16px;
  color: #fff;
}

/* Header buttons */
button.chamber-1.btn.btn-default:active, button.chamber-2.btn.btn-default:active, button.chamber-3.btn.btn-default:active, button.chamber-1.btn.btn-default:focus, button.chamber-2.btn.btn-default:focus, button.chamber-3.btn.btn-default:focus  {
  background:linear-gradient(rgba(255,255,255, 0.7), rgba(255,255,255, 0.1));
  color: #fff;
  font-weight: bolder;
  border:0;
}

.homepage.link.Futura-Lig, .temperate.link, .custom.link, .tropical.link {
  background-color: rgba(115,115,115,0.4);
  min-width: 150px;
  height: auto;
  margin: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 24px;
  /*border styles*/
  border: 0;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	border-radius: 30px;
}

.homepage.link.Futura-Lig:active, .temperate.link:active, .custom.link:active, .tropical.link:active  {
  /*border styles*/
  border-top: solid 2px rgba(115,115,115,0.5);
  border-bottom: solid 1px rgba(115,115,115,0.3);
  border-right: solid 1px rgba(115,115,115,0.5);
  border-left: solid 1px rgba(115,115,115,0.5);
}

div.filterById.filter.flex-row.row.btn-group.btn-group-justified {
  width: 100%;
  padding:0;

}
button.chamber-1.btn.btn-default, button.chamber-2.btn.btn-default, button.chamber-3.btn.btn-default {
  padding: 0;
  width: 300px;
  align-self: baseline;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
}
button.chamber-2.btn.btn-default {
  border-left: 2px solid #fff;
  border-right: 2px solid #fff;
}
                                  /* Header */
                                  /***********/
.brandLogo {
  margin-left: 0;
  width: 100%;
  height: auto;
  display: block;
}
.logo.img-responsive.center-block {
  background-image: url(/public/img/logo.png);
  width: inherit;
  margin-left: 0;
  max-height: 75px;
  display: inline;
}
div.backImage {
  display: none;
  position: relative;
  background-image: url(/public/img/white_back_button.png);
  background-repeat:no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  width: 150px;
  height: auto;
}

img.headerLinks.img-responsive {
  max-width: 80px;
  height: auto;
}

h1.title.Futura-Lig {
  font-weight: bolder;
}

ul.nav.nav-pillsnavbar-nav.navbar-right {
}
                                /* NAVBAR MENU*/
                                /***************/
.navbar {
  background-color: rgba(255,255,255,0.0);
  border-top:0;
  border-left: 0;
  border-right: 0;
  border-bottom: 2px solid white;
  margin: 0;
  padding: 0;
  width: 100%;
}
.navItem {
  display: inline-block;
  background-color: inherit;
  width: 100%;
}

.navItem li {
  text-align: center;
}

.navbar-toggle {
  border:0;
  background-color: rgba(255,255,255,0.0);
}

.navbar-toggler:focus,
.navbar-toggler:active {
    border:0;
    outline: 0;
    background-color: rgba(255,255,255,0.0);
}
.navbar-toggle:hover {
  background-color: #3333337d;
}
.navbar-collapse {
  border: none;
}
.navbar-toggler span {
   display: inline-block;
   background-color: rgba(255,255,255, 0.0);
   height: 3px;
   width: 25px;
   margin-top: 4px;
   margin-bottom: 4px;
   -webkit-transform: rotate(0deg);
   -moz-transform: rotate(0deg);
   -o-transform: rotate(0deg);
   transform: rotate(0deg);
   position: relative;
   right: 0;
}

.navbar-toggler span:nth-child(1),
.navbar-toggler span:nth-child(2) {
   -webkit-transition: transform .35s ease-in-out;
   -moz-transition: transform .35s ease-in-out;
   -o-transition: transform .35s ease-in-out;
   transition: transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
    position: absolute;
    right: 12px;
    top: 10px;
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    transform: rotate(135deg);
    opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
    height: 12px;
    visibility: hidden;
    background-color: blue;
}

.sr-only:not(.collapsed) {
  visibility: hidden;
}

.sr-only {
  visibility: visible;
}
.icon-bar {
  color: white;
}

.navbar-collapse .bs-navbar-collapse .collapse {
  visibility: hidden;
}

ul.nav.nav-pills.navbar-nav.navbar-right li {
  max-width: 75px;
  display: inline-block;
  border-radius: 50%;
  background-color: #3333337d;
}

h1.title.Futura-Lig {
  margin-top: 0;
  text-align: center;
}

.brandLogo {
  min-width:  100px;
  max-width: 175px;
  height: 100px;
  margin-left: 0;
  padding:0;
  display: inline-block;
}

div.backImage {
  margin-left: 10px;
}

                                      /*MONITOR*/
                                      /**********/
div.bottom.container.readings.row {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
}

.dayOfCycle.col-md-4.col-sm-4.col-xs-4 {
  bottom: 0;
  position: absolute;
}

.bubble {
	border-radius: 50%;
  width: 200px;
  height: 200px;
  background-color: rgba(0,0,0, 0.8);
  text-align: center;
}

.bubble.humidity, .bubble.temperature, .bubble.ppm, .bubble.ph {
  margin-top: 5%;
  color: white;
}

.buble a {
  color: rgb(0, 0, 0);
}

.bubble a h4 {
  position: absolute;
  margin-left: 30%;
  margin-right: auto;
  width: 40px;
  text-align: center;
}
                                  /* Charts */
                                  /************/
svg.recharts-surface {
  width: 100%;
}



                                  /* Filter Nav By Chamber */
                                  /*************************/
.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
}
.flex-row > [class*='chamber-'] {
  align-self:stretch;
  padding: 0;
  margin: 0;
}
.flex-row.row:after,
.flex-row.row:before {
  display: flex;
}

div.filter.row {
  background-color: transparent;
  vertical-align: middle;
}

.filterById {
  background-color: transparent;
  text-align: center;
  border-top: '#fff';
}

div.filterById.filter.flex-row.row.btn-group.btn-group-justified {
  width: 100%;
  align-content: stretch;
  align-items: stretch;
}

.chamber-1, .chamber-2, .chamber-3 {
  border: none;
}

                                  /* Sensor */
                                  /***********/

.startedOn {
  vertical-align: middle;
}

.center {
  vertical-align: center;

}

                                  /*Homepage*/
                                  /************/

.homepage.links.container{
  vertical-align: center;
  display: flex;
  align-items: center;
  flex-flow: row;
  margin-top: 20px;
  min-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.monitorOrGrow.container, .grow.links.container {
  vertical-align: center;
  display: flex;
  align-items: center;
  flex-flow: column;
  margin-top: 20px;
  /* min-width: 500px; */
  margin-left: auto;
  margin-right: auto;
}
                                  /*New Grow*/
                                  /***********/

  div.selectedPlant {
    text-align: center;
    position: relative;
  }
  .selectedPlant h3 {
    font-family: Futura-Lig;
    font-size: 18px;
  }

  div.selectedPlant .form-group {
    display: flex;
    flex-flow: row wrap;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
    min-height: 300px;
    height: auto;
    width: 75%;
    align-items: baseline;
    justify-content: center;
    align-content: center;
    border-radius: 5%;
    background-color: rgba(0,0,0,0.4);
  }

.Basil, .Bell.Pepper, .Broccoli, .Cilantro, .Green.Beans, .Lettuce, .Tomato, .Kale, .Customize {
  font-family: Futura-Lig;
  background-repeat:no-repeat;
  background-size: 100% 100%;
  max-width: 35%;
  min-width: 200px;
  margin-top: 10px;
  font-size: 18px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex: 1 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-around;

}

.newgrow.container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
  margin-left: 20px;
  margin-top: 20px;
  width: 80%;
  text-align: center;
}

.link.Basil {
  background-image: url(/public/img/basil_button.png);

}

.link.Bell.Pepper {
  background-image: url(/public/img/bell_pepper_button.png);

}

.link.Broccoli {
  background-image: url(/public/img/broccoli_button.png);

}

.link.Cilantro{
  background-image: url(/public/img/cilantro_button.png);
}

.link.Kale{
  background-image: url(/public/img/kale_button.png);
}

.link.Lettuce{
  background-image: url(/public/img/lettuce_button.png);
}

.link.Tomato{
  background-image: url(/public/img/tomato_button.png);
}

.link.Customize {
  background-image: url(/public/img/customize_button.jpg);
}

.link.Green.Beans {
  background-image: url(/public/img/green_bean_button.png)
}
.text.Futura-Lig.center h3{
  font-size: 20px;
}

/*.new_grow_form {
width: 90%;
min-height: 800px;
}*/

div.chamberOptions {
  min-height: 800px;
  min-width: 500px;
}


.chamberImage, .existing_grow_form {
	background-image: url(/public/img/oasis_mini_icon_raw.png);
	background-repeat:no-repeat;
	background-size: 100% 100%;
	width: 45%;
	min-height: 400px;
	padding-top: 20px;
	padding-bottom: 20px;
	margin-top: 30px;
	/* margin-left: auto; */
	/* margin-right: auto; */
}

/*Chamber*/
div.chamberImage .form-group {
  background: none;
  font-size: 18px;
  position: relative;
  font-family: Futura-Lig;
}

#chambers {
  background-color: blue;
}

h3#chamber.directions.Futura-Lig {
  width: 180px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

div.link.Chamber1.radio {
  position: absolute;
  /*margin-left: 145px;*/
  /*margin-top: 245px;*/
  margin-left: 355px;
  margin-top: 295px;
}

div.link.Chamber2.radio {
  position: absolute;
  margin-left: 130px;
  margin-top: 80px;
}

div.link.Chamber3.radio {
  position: absolute;
  margin-left: -90px;
  margin-top: 150px;
}

.directions.container {
  margin: 10%;
}

.directions.left {
  width: 40%;
  font-size: 24px;
  display: inline-block;
}

.directions.right {
  right:0;
  width: 45%;
  display: inline-block;
  font-size: 18px;
}

.directions.right div.container {
  width: 100%;
}

.directions.right button {
  background-color: rgba(0,0,0,0.3);
  border-radius: 20px;
}

.directions.right .row {
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}
div.Futura-Lig.col-md-6.col-xs-5 {
  width: 100%;
}
                    /*Forms General Settings */
                    /**************************/

label {
  text-shadow: 0px 1px 1px #000;
  text-align: center;
}

input[type=radio] {
  display: none;
}


                      /* Existing Grow */
                      /******************/
.existing-grow.chambers .form-group {
  background: none;
  position: relative;
  font-size: 18px;
  width: 400px;
  height: 350px;
}

h3#chamber.chamber.Futura-Lig {
  margin-top: 50px;
}

div.Chamber1.radio {
  position: absolute;
  margin-left: 355px;
  margin-top: 295px;
}

div.Chamber2.radio {
  position: absolute;
  margin-left: 180px;
  margin-top: 110px;
}

div.Chamber3.radio {
  position: absolute;
  margin-left: 120px;
  margin-top: 225px;
}

.chamber.Futura-Lig {
  width: 200px;
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}

div.list-group {
  width: 45%;
  display: inline-block;
  position: relative;
}

.check_mark {
  width: 100%;
  height: 100%;
}

/* modal*/
.modal-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  line-height: normal;
}
.modal-container button {
  vertical-align: middle;
  margin-top: 10px;
}
.modal-content {
  color: rgb(0,0,0);
  min-height: 250px;
}

button.btn.btn-default.pause {
  background-color: grey;
}

button.btn.btn-default.balanced {
  background-color: grey;
}

button.close.Resume.btn.btn-default {
  text-align: center;
  color: #333;
  height: 60px;
  background-color: grey;
  width: 150px;
  text-shadow: 0 1px 0 #333;
  opacity: 1;
}
                        /* Pagers */
                        /***********/
.pagers {
  width: 100%;
  display: inline;
}

span.glyphicon.glyphicon-glyphicon.glyphicon-chevron-left, span.glyphicon.glyphicon-glyphicon.glyphicon-chevron-right {
  /*width: 100px;*/
  /*height: 100px;*/
  position: relative;
  zoom: 3;
  color: green;
}

ul.grow.pager {
  z-index: 200;
  position: fixed;
  bottom: 300px;
  margin-top: 300px;
}

ul.grow.pager .previous {
  height: 50px;
}

ul.grow.pager .next {
  margin-left: 900px;
  height: 50px;
}

li.next a, li.previous a {
  background-color: transparent;
  border:none;
}
/*smaller screen responsive*/
/****************************/
/*@media only screen and (min-width: 808px) and (max-width: 1320px) {
    div.link.Chamber1.radio {
      position: absolute;
      margin-left: 100px;
      margin-top: 80px;
      background-color: red;
    }

    div.link.Chamber2.radio {
      position: absolute;
      margin-left: 100px;
      margin-top: 85px;
      background-color: blue;
    }

    div.link.Chamber3.radio {
      position: absolute;
      margin-left: -80px;
      margin-top: 20px;
    }

    .basil, .bell.Pepper, .broccoli, .cilantro, .green.Beans, .lettuce, .tomato, .kale, .link.temperate, .link.customize {
      height: 50px;
    }
    .directions.right {
      width: 50%;
      font-size: 18px;
    }
}*/
